:root
{
	--swiper-pagination-color: #FFFFFF;
	--swiper-pagination-bullet-size: 12px;
	--swiper-pagination-bullet-inactive-color: #000000;
	--swiper-pagination-bullet-inactive-opacity: 0.5;
	--swiper-pagination-bullet-opacity: 1;

    --swiper-navigation-size: 44px;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 12px;
    --swiper-navigation-color: #FFFFFF;
}

::-webkit-scrollbar
{
    display: none;
}

body, html
{
    overflow-y: hidden;
    overflow-x: hidden;

    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
}

img
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
}

body
{
    font-family: 'Montserrat';
    line-height: 160%;
	background: #1C1C1C;
    color: #FFFFFF;
}

header
{
    background: transparent;
    backdrop-filter: blur(4px);
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    left: 0;
}

.mobile
{
    display: none;
}

@media (max-width: 768px)
{
    .desktop
    {
        display: none;
    }

    .mobile
    {
        display: grid;
    }
}

.mobile-swiper, .desktop-swiper
{
    width: auto;
    height: 100vh;
}

.swiper-slide
{
    display: grid;
    align-content: center;
    margin: 0;
    padding: 0 18vw 0 18vw;
}

@media(max-width: 1680px)
{
    .swiper-slide
    {
        padding: 0 12vw 0 12vw;
    }
}

@media(max-width: 768px)
{
    .swiper-slide
    {
        padding: 0 8vw 0 8vw;
    }
}

.swiper-button-next
{
    right: 50%;
    top: 95%;
    transform: translateX(50%) rotate(90deg);
    z-index: 999;
}

.review-swiper
{
    width: 100%;
    height: auto;
}

.review-swiper .swiper-slide
{
    padding: 0 30vw 5vh 30vw;
    box-sizing: border-box;
}

.swiper-slide-box
{
    padding: 3vh 0 3vh 0;
}

@media (max-width: 1680px)
{
    .review-swiper .swiper-slide
    {
        padding: 0 20vw 0 20vw;
    }
}

@media (max-width: 768px)
{
    .review-swiper .swiper-slide
    {
        padding: 0 5vw 0 5vw;
    }
    .swiper-slide-box
    {
        padding: 1vh 0 1vh 0;
    }
}

/* BANNER */

.banner-container
{
    display: grid;
    width: 100%;
    height: 100vh;
}

.banner-container .banner-background img
{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.banner-content
{
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}

.banner-content img
{
    max-width: 100%;
    height: auto;
}

/* BANNER */

/* MULTICOLUMN */

.container
{
    height: 100%;
    padding: 2vw;
    background: #222222;
}

@media(max-width: 1680px)
{
    .container
    {
        padding: 4vw;
    }
}

@media(max-width: 768px)
{
    .container
    {
        padding: 4vw;
    }
}

/* border-radius: top-left, top-right, bottom-right, bottom-left */

.border-radius-3x-1
{
    border-radius: 20px 0px 0px 20px;
}

.border-radius-3x-2
{
    border-radius: 0px 20px 20px 0px;
}

@media (max-width: 768px)
{
    .border-radius-3x-1
    {
        border-radius: 0;
    }
    .border-radius-3x-2
    {
        border-radius: 0;
    }
    .container
    {
        border-radius: 20px;
    }
}

@media (max-height: 768px)
{
    .border-radius-3x-1
    {
        border-radius: 0;
    }
    .border-radius-3x-2
    {
        border-radius: 0;
    }
    .container
    {
        border-radius: 20px;
    }
}

.video-1, .video-2, .video-3, .video-1-1, .video-2-2, .video-3-3
{
    width: 100%;
    height: auto;
}

@media (max-height: 768px)
{
    .video-1, .video-2, .video-3
    {
        width: 50%;
        height: auto;
    }
}

/* MULTICOLUMN */

/* REVIEWS */

.review-container
{
    background: #222222;
    border-radius: 20px;
}

/* REVIEWS */

.alignment
{
    align-self: center;
    text-align: center;
}

h1, h2, h3
{
    font-family: 'Montserrat';
    color: #FFFFFF;
    font-weight: 800;
}

p, p2
{
    font-family: 'Montserrat';
    color: #C3C3C3;
    font-weight: 600;
}

p
{
    font-size: larger;
}

p2
{
    font-size: x-large;
}

.link
{
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
}

.link:hover
{
    color: #C3C3C3;
}