:root
{
	--swiper-pagination-color: #FFFFFF;
	--swiper-pagination-bullet-size: 12px;
	--swiper-pagination-bullet-inactive-color: #000000;
	--swiper-pagination-bullet-inactive-opacity: 0.5;
	--swiper-pagination-bullet-opacity: 1;
}

::-webkit-scrollbar
{
    display: none;
}

body, html
{
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
}

img
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
}

body
{
    font-family: 'Montserrat';
    line-height: 160%;
	background: #1C1C1C;
    color: #FFFFFF;
}

header
{
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    left: 0;
}


.desktop, .desktop-header
{
    overflow-x: hidden;
    overflow-y: hidden;
}

.mobile, .mobile-header
{
    overflow-x: hidden;
    display: none;
}

@media(max-width: 767px)
{
    .desktop, .desktop-header
    {
        display: none;
    }
    .mobile, .mobile-header
    {
        display: grid;
    }
}

@media(max-height: 951px)
{
    .desktop
    {
        display: none;
    }
    .mobile
    {
        display: grid;
    }    
}

.swiper
{
    width: auto;
    height: 100vh;
}

.swiper-slide
{
    display: grid;
    align-content: center;
    margin: 0;
    padding: 0 18vw 0 18vw;
}

@media(max-width: 1679px)
{
    .swiper-slide
    {
        padding: 0 12vw 0 12vw;
    }
}

@media(max-width: 767px)
{
    .swiper-slide
    {
        padding: 0 8vw 0 8vw;
    }
}

.section
{
    width: auto;
    min-height: 100vh;
    display: grid;
    align-content: center;
    margin: 0;
    padding: 10vh 18vw 10vh 18vw;
}

@media(max-width: 1679px)
{
    .section
    {
        padding: 10vh 12vw 10vh 12vw;
    }
}

@media(max-width: 767px)
{
    .section
    {
        padding: 10vh 8vw 10vh 8vw;
    }
}

/* BANNER */

.banner-container
{
    display: grid;
    width: 100%;
    height: 100vh;
}

.banner-container .banner-background img
{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.banner-content
{
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}

.banner-content img
{
    max-width: 100%;
    height: auto;
}

.banner-widget
{
    padding: 12vw;
}

@media(max-width: 1679px)
{
    .banner-widget
    {
        padding: 4vw;
    }
}

@media(max-width: 767px)
{
    .banner-widget
    {
        padding: 12vw;
    }
}

/* BANNER */

/* MULTICOLUMN */

.multicolumn-container
{
    height: 100%;
    padding: 2vw;
    background: #222222;
}

@media(max-width: 767px)
{
    .multicolumn-container
    {
        padding: 4vw;
    }
}

.video-1, .video-2, .video-3, .mobile-video-1, .mobile-video-2, .mobile-video-3
{
    width: 100%;
    height: auto;
}

.multicolumn-img
{
    width: 35%;
    height: auto;
}

.lg-6x-1
{
    border-radius: 12px 0 0 0;
}

.lg-6x-2
{
    border-radius: 0;
}

.lg-6x-3
{
    border-radius: 0 12px 0 0;
}

.lg-6x-4
{
    border-radius: 0 0 0 12px;
}

.lg-6x-5
{
    border-radius: 0;
}

.lg-6x-6
{
    border-radius: 0 0 12px 0;
}

@media (max-width: 767px)
{
    .lg-6x-1, .lg-6x-2, .lg-6x-3, .lg-6x-4, .lg-6x-5, .lg-6x-6
    {
        border-radius: 12px;
    }
}

/* MULTICOLUMN */

/* REVIEWS */

.review-text
{
    padding: 0 18vw 0 18vw;
}

@media(max-width: 1679px)
{
    .review-text
    {
        padding: 0 12vw 0 12vw;
    }
}

@media(max-width: 767px)
{
    .review-text
    {
        padding: 0 8vw 0 8vw;
    }
}

@keyframes slide
{
    from
    {
        transform: translateX(0);
    }
    to
    {
        transform: translateX(-100%);
    }
}
  
.reviews
{
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.reviews:hover .review-slide 
{
    animation-play-state: paused;
}
  
.review-slide
{
    display: inline-block;
    animation: 80s slide infinite linear;
}

.review-slide img
{
    height: 400px;
    margin: 0 40px;
    background-color: #222222;
    border-radius: 12px;
}

@media(max-width: 991px)
{
    .review-slide img
    {
        height: 300px;
        margin: 0 30px;
    }
}

@media(max-width: 767px)
{
    .review-slide img
    {
        height: 200px;
        margin: 0 20px;
    }
}

@media(max-width: 319px)
{
    .review-slide img
    {
        height: 150px;
        margin: 0 15px;
    }
}

/* REVIEWS */

/* COLLAPSIBLE */

.collapsible
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222222;
    cursor: pointer;
    color: #FFFFFF;
    padding: 32px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    border-radius: 12px;
    transition: border-radius 0.2s ease-out;
    margin-right: 21px;
}
  
.collapsible:hover
{
    background-color: #2D2D2D;
}

.active
{
    border-radius: 12px 12px 0 0;
    transition: border-radius 0.2s ease-out;
}

.collapsible:after
{
    content: url('src/CARET_DOWN.svg');
    margin-left: 5px;
}

.active:after
{
    content: url('src/CARET_UP.svg');
}

.content
{
    border-radius: 0 0 12px 12px;
    padding: 0 32px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #222222;
    color: #C3C3C3;
    font-size: larger;
    font-weight: 600;
}

/* COLLAPSIBLE */

/* CTA, DISCORD */

.cta-container
{
    display: grid;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
}

.cta-container .cta-background
{
    position: relative;
}

.cta-container .cta-background img
{
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.cta-container .cta-background::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.cta-container .cta-content
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.btn-outline-primary
{
    color: #5865F2;
    border-color: #5865F2;
}
.btn-outline-primary:hover, .btn-outline-primary:focus
{
    color: #FFFFFF;
    background-color: #5865F2;
    border-color: #5865F2;
}

.btn-outline-primary:active
{
    color: #fff;
    background-color: #5865F2;
    border-color: #5865F2;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled
{
    color: #5865F2;
    background-color: transparent;
}  

.btn-custom-width
{
    width: 150px;
}

/* CTA, DISCORD */

h1, h2, h3, h4, h5
{
    font-family: 'Montserrat';
    color: #FFFFFF;
    font-weight: 800;
}

p, p2, p3
{
    font-family: 'Montserrat';
    color: #C3C3C3;
    font-weight: 600;
}

p
{
    font-size: larger;
}

p2
{
    font-size: x-large;
}

p3
{
    font-size: large;
}

.link
{
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
}

.link:hover
{
    color: #C3C3C3;
}

.link-inverse
{
    font-weight: 700;
    color: #C3C3C3;
    text-decoration: none;
}

.link-inverse:hover
{
    color: #FFFFFF;    
}